.bigSurWrapper {
    margin: 12px;
    height: calc(100vh - 64px);
    overflow: hidden;
}
.bigsur-table {
    height: calc((100vh - 64px - 24px) * 0.4 - 50px - 32px);
    overflow-y: hidden;
}
.bigsurLogo {
    width: 100vw;
    text-align: center;
    height: 60px;
    /*background-image: url("../../assets/navigation.jpg");*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transform: translateX(-60px);
}
.bigsurLogo2 {
    width: 100vw;
    text-align: center;
    height: 60px;
    background: linear-gradient(to bottom, #cee7d5, #daece2);
    background-size: 100% 100%;
    transform: translate(-60px, 0);
    display: flex;

    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}
.bigsurLogo h2{
    margin-block: 0;
    padding-top: 18px;
    letter-spacing: 1px;
    color: var(--title-color);
    font-size: 30px;
    font-weight: 600;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--title-color);
}
.bigsurLogo2 h2{
    margin-block: 0;
    letter-spacing: 1px;
    color: var(--title-color);
    font-size: 30px;
    font-weight: 600;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--title-color);
}
.cardItem {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cardWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}
.cardItemTitle {
    font-weight: 600;
}
